.Login-SignUp-Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;

    img {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-weight: 600;
    }
}

@media (max-width: 500px) {
    .Login-SignUp-Header {
        padding: 16px;

        img {
            width: 52px;
            height: 52px;
        }

        h1 {
            font-weight: 600;
            font-size: 25px;
        }
    }
}