.events-container {
    padding: 0 70px;
    margin-bottom: 80px;

    .event-list-search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-bar {
            width: 70%;
            display: flex;
            align-items: center;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                padding: 9px 12px;
                font-size: 15px;
                line-height: 20px;
                color: var(--grey);
                background-color: var(--card-color);
                border: 1px solid var(--border-color);
                border-radius: 6px;
            }
        }

        .drop-downs {
            display: flex;
            width: 30%;
            justify-content: space-evenly;
            display: flex;
            align-items: center;

            .Dropdown-root {
                height: 100%;
            }

            .Dropdown-control {
                position: relative;
                overflow: hidden;
                background-color: #21262d;
                border: 1px solid #595e65;
                border-radius: 2px;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                outline: none;
                padding: 5px 52px 5px 10px;
                transition: all 200ms ease;
                border-radius: 6px;
            }

            .Dropdown-menu {
                width: 150px;
                border-radius: 6px;
                background: var(--card-color);
                border: 1px solid var(--border-color);
                margin-top: 5px;

                .Dropdown-option {
                    color: #e6edf3;
                    border-radius: 6px;
                    border-bottom: 1px solid var(--border-color);
                }

                .Dropdown-option:hover {
                    background: #1f242c;
                }

                .Dropdown-option.is-selected {
                    background: #1f242c;
                    border: 1px solid var(--blue);
                }
            }
        }
    }

    .anomaly-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-radius: 6px;
    }

    .anomaly-card-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px 0;
    }

    .anomaly-card {
        padding: 20px;
        border-radius: 5px;
        width: calc(33.33% - 20px);
        box-sizing: border-box;
        transition: transform 0.2s;

        h6 {
            margin-bottom: 20px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            .anomaly-report-btn {
                width: 48%;
            }

            .anomaly-report-btn:hover {
                background: var(--hover-color);
            }

            .download-video-btn {
                width: 48%;
            }

            .download-video-btn:hover {
                background: #151e33;
            }
        }
    }

    .anomaly-card-description {
        padding: 20px 30px;
        margin-top: 10px;
        background: var(--bg-color);
        border-radius: 10px;

        p {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 500px) {
    .events-container {
        padding: 0 20px;

        .event-list-search {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .search-bar {
                width: 100%;

                input {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            .drop-downs {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                display: flex;
                align-items: center;

                .Dropdown-root {
                    height: 100%;
                }

                .Dropdown-control {
                    margin: 0 3px;
                }
            }
        }

        .anomaly-card {
            width: calc(100%);
        }
    }
}