.below-dashboard-main-container {
    .overview-section {
        margin-bottom: 80px;
    }

    .overview-container {
        padding: 0 70px;

        .chart-container {
            .charts {
                .row {
                    justify-content: space-between;

                    .bar-chart-container {
                        padding: 30px;
                        background-color: var(--card-color);
                        border-radius: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        width: 65%;
                        color: var(--white);
                    }

                    .pie-chart-container {
                        padding: 30px;
                        background-color: var(--card-color);
                        border-radius: 10px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        width: 30%;
                        color: var(--white);
                    }
                }
            }
        }
    }

    .dark-table-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 50px;
        background-color: var(--card-color);
        border-radius: 10px;

        .table-dark {
            margin: 0;
            height: 10px;
        }

        .all-report-button {
            padding: 12px;
            cursor: pointer;
            width: 200px;
        }

        .all-report-button:hover {
            background: var(--hover-color);
        }
    }
}

@media (max-width: 500px) {
    .below-dashboard-main-container {
        .overview-container {
            padding: 0 25px;

            .chart-container {
                .charts {
                    .row {
                        flex-direction: column;

                        .bar-chart-container {
                            padding: 20px;
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        .pie-chart-container {
                            padding: 20px;
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .card {
            padding: 10px 10px !important;
            background-color: transparent !important;
            border-radius: 10px !important;
            border: 1px solid transparent !important;
        }



        .dark-table-container .no-anomaly {
            background: var(--card-color);
            border: 1px solid var(--border-color);
            color: var(--grey);
            border-radius: 10px;
        }
    }
}