@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #111116;
    --card-color: #1B1B1F;
    --white: #fff;
    --grey: #888;
    --blue: #0052cc;
    --green: #00C852;
    --red: #FF5045;
    --orange: #FFB545;
    --hover-color: #1668E2;
    --border-color: #30363d;
}

::selection {
    color: var(--white);
    background: var(--blue);
}

#root,
root,
html,
body {
    background: #111116;
    color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
}

button,
a,
span,
p {
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

img {
    pointer-events: none;
}

.primary-button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
}